<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.ysf.dx.dao.HotelCommentDao">
	<select id="findCommentCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(*)
		from
		itrip_comment ic
		<where>
			<trim suffixOverrides="and">
				<if test="id != null ">ic.id=#{id} and </if>
				<if test="hotelId != null ">ic.hotelId=#{hotelId} and </if>
				<if test="isHavingImg != null">ic.isHavingImg=#{isHavingImg} and </if>
				<if test="isOk != null">ic.isOk=#{isOk} and </if>
			</trim>
		</where>
	</select>

	<select id="findCommentContent" parameterType="java.util.Map" resultType="cc.ysf.dx.pojo.vo.ItripListCommentVO">
		SELECT
			ic.id as id,
			iu.userCode as userCode,
			ih.hotelLevel as hotelLevel,
			iho.checkInDate as checkInDate,
			ihr.roomTitle as roomTitle,
			ild.name as tripModeName,
			ic.content as content,
			ic.creationDate as creationDate,
			ic.score as score,
			ic.isHavingImg as isHavingImg,
			ic.isOk as isOk
		FROM
			itrip_comment ic left JOIN itrip_user iu on ic.userId=iu.id
			left join itrip_hotel ih on ic.hotelId=ih.id
			left join itrip_hotel_order iho on ic.orderId=iho.id
			left join itrip_hotel_room ihr on iho.roomId=ihr.id or ic.productId=ihr.id
			left join itrip_label_dic ild on ic.tripMode=ild.id
		<where>
			<trim suffixOverrides="and">
				<if test="hotelId != null">ic.hotelId=#{hotelId} and</if>
				<if test="isHavingImg != null">ic.isHavingImg=#{isHavingImg} and</if>
				<if test="isOk != null">ic.isOk=#{isOk} and</if>
			</trim>
		</where>

	</select>
	<select id="findCommentByOrderId" parameterType="ItripComment" resultMap="ItripCommentMap">
		SELECT
			ic.id
		FROM
			itrip_comment ic
		where
			orderId=#{orderId}
	</select>
	<resultMap id="ItripCommentMap" type="ItripComment">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="hotelId" javaType="java.lang.Long" column="hotelId"/>
		<result property="productId" javaType="java.lang.Long" column="productId"/>
		<result property="orderId" javaType="java.lang.Long" column="orderId"/>
		<result property="productType" javaType="java.lang.Integer" column="productType"/>
		<result property="content" javaType="java.lang.String" column="content"/>
		<result property="userId" javaType="java.lang.Long" column="userId"/>
		<result property="isHavingImg" javaType="java.lang.Integer" column="isHavingImg"/>
		<result property="positionScore" javaType="java.lang.Integer" column="positionScore"/>
		<result property="facilitiesScore" javaType="java.lang.Integer" column="facilitiesScore"/>
		<result property="serviceScore" javaType="java.lang.Integer" column="serviceScore"/>
		<result property="hygieneScore" javaType="java.lang.Integer" column="hygieneScore"/>
		<result property="score" javaType="java.lang.Integer" column="score"/>
		<result property="tripMode" javaType="java.lang.String" column="tripMode"/>
		<result property="isOk" javaType="java.lang.Integer" column="isOk"/>
	</resultMap>

	<insert id="addComment" parameterType="ItripComment" >
		INSERT INTO
		itrip_comment (
		<trim suffixOverrides=",">
			<if test="hotelId != null">hotelId ,</if>
			<if test="productId != null">productId ,</if>
			<if test="orderId != null">orderId ,</if>
			<if test="productType != null">productType ,</if>
			<if test="content != null">content ,</if>
			<if test="userId != null">userId ,</if>
			<if test="isHavingImg != null">isHavingImg ,</if>
			<if test="positionScore != null">positionScore ,</if>
			<if test="facilitiesScore != null">facilitiesScore ,</if>
			<if test="serviceScore != null">serviceScore ,</if>
			<if test="hygieneScore != null">hygieneScore ,</if>
			<if test="score != null">score ,</if>
			<if test="tripMode != null">tripMode ,</if>
			<if test="isOk != null">isOk ,</if>
			<if test="creationDate != null">creationDate ,</if>
			<if test="createdBy != null">createdBy ,</if>
			<if test="modifyDate != null">modifyDate ,</if>
			<if test="modifiedBy != null">modifiedBy ,</if>
		</trim>
		)VALUES(
		<trim suffixOverrides=",">
			<if test="hotelId != null">#{hotelId} ,</if>
			<if test="productId != null">#{productId} ,</if>
			<if test="orderId != null">#{orderId} ,</if>
			<if test="productType != null">#{productType} ,</if>
			<if test="content != null">#{content} ,</if>
			<if test="userId != null">#{userId} ,</if>
			<if test="isHavingImg != null">#{isHavingImg} ,</if>
			<if test="positionScore != null">#{positionScore} ,</if>
			<if test="facilitiesScore != null">#{facilitiesScore} ,</if>
			<if test="serviceScore != null">#{serviceScore} ,</if>
			<if test="hygieneScore != null">#{hygieneScore} ,</if>
			<if test="score != null">#{score} ,</if>
			<if test="tripMode != null">#{tripMode} ,</if>
			<if test="isOk != null">#{isOk} ,</if>
			<if test="creationDate != null">#{creationDate} ,</if>
			<if test="createdBy != null">#{createdBy} ,</if>
			<if test="modifyDate != null">#{modifyDate} ,</if>
			<if test="modifiedBy != null">#{modifiedBy} ,</if>
		</trim>
		)
	</insert>
</mapper>